name: node

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.19' 
      - name: build
        run: make build

  validations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.19' 
      - name: build
        run: make build
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
